<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Thank you for registering for our 2016/2017 Tryouts. Once we close the registration period and have an idea of the number of players that will be trying out we will set the times for each age division. We wilil post those times on our <%= link_to "website", "http://skeetersbaseballclub.com" %> and our <%= link_to "facebook page", "https://www.facebook.com/skeetersbaseballclub" %>.</p>
	<p>If you have any questions you can email us at <%= mail_to "skeetersballclub@gmail.com" %> or contact Jerry Russell at 615-600-6532. We look forward to seeing you on the baseball field.</p>
</body>
</html>
