<div class="banner-container-sub">
  <%= render 'partials/navbar' %>
  <div class="home-top-sub">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="latoblack white home-header">Skeeters Baseball Club</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-container-sub">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="latolight">Calendar of Events</h2>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>