// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-body-container {
	margin-top:20px;
	p {
		font-family:'latolight';
		font-size:1.2em;
	}
	h1,h2,h3,h4,h5 {
		font-family:'latobold';
	}
}